/*Доделать:
- логин заменить на  input
- search  так же анимировать выкатывание  input

*/



@font-face {
	font-family: 'my-Font';
	src:  url('../fonts/my-Font/my-Font.eot?v9bzkq');
	src:  url('../fontmy-Font/my-Font.eot?v9bzkq#iefix') format('embedded-opentype'),
	  url('../fonts/my-Font/my-Font.ttf') format('truetype'),
	  url('../fonts/my-Font/my-Font.woff') format('woff'),
	  url('../fonts/my-Font/my-Font.svg?v9bzkq#my-Font') format('svg');
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  }

@font-face {
	font-family: 'Gotham-Book';
	src: url('../fonts/GothamBook/GothamBook.eot');
	src: local('GothamBook'), url('../fonts/GothamBook/GothamBook.woff') format('woff'), url('../fonts/GothamBook/GothamBook.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;

}

// 'Gotham-medium'
@font-face {
	font-family: 'Gotham-medium';
	src: url('../fonts/Gotham/GothamMedium.eot');
	src: url('../fonts/Gotham/GothamMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham/GothamMedium.woff2') format('woff2'),
		url('../fonts/Gotham/GothamMedium.woff') format('woff'),
		url('../fonts/Gotham/GothamMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
// 'Gotham-bold'
@font-face {
	font-family: 'Gotham-bold';
	src: url('../fonts/Gotham/Gotham-Bold.eot');
	src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
		url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
$green: #1baf5d;
$green-a:rgba(27, 175, 94, 0.7);
$yellow:#f19e1f;
$yellow-a:rgba(241, 157, 31, 0.7);
$purple:#88499c;
$purple-a:rgba(137, 73, 156, 0.7);

.container{
	max-width: 980px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.case{
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
}

@import'header';
@import'banner';
@import'panelFilter';
@import'main';
@import'reality';
@import'footer';
